@font-face {
  font-family: 'Pacifico';
  src: url('../fonts//Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'RubikReg';
  src: url('../fonts/Rubik-Regular.ttf');
}

* {
  box-sizing: border-box;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'RubikReg', sans-serif;

  color: white;
}

body {
  display: flex;
  min-height: 100vh;
  background: rgb(81, 41, 140);
  background: linear-gradient(
    90deg,
    rgba(81, 41, 140, 1) 0%,
    rgba(121, 114, 179, 1) 35%,
    rgba(134, 45, 93, 1) 100%
  );
}

#__next {
  flex: 1 1 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  height: 7rem;
}

.main-header-logo {
  font-size: 1.5rem;
  color: white;
  font-family: 'Pacifico', sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fefcfe;
  z-index: 10;

  @media (min-width: 768px) {
    font-size: 2.5rem;
  }

  a {
    text-decoration: none;
    color: #fefcfe;
  }
}

.main-header-navigation {
  display: flex;
  flex-direction: row;
  div {
    margin-left: 2rem;
  }

  a {
    text-decoration: none;
    color: #fefcfe;
    font-size: 1rem;

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
}

.home-container {
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.home-section {
  width: 90%;
  font-size: 2.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    margin-top: 2rem;
    width: 20rem;
    object-fit: cover;
    height: 20rem;
    @media (min-width: 768px) {
      width: 20rem;
      height: 20rem;
    }
  }

  h1 {
    font-size: 8rem;
  }

  p {
    text-align: center;
  }
}

.event-list {
  max-width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
}

.event-item {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px 12px 2px rgba(0, 0, 0, 0.2);

  border-radius: 8px;
  overflow: hidden;
  background-color: #1a003d;
  margin: 1rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  @media (min-width: 768px) {
    flex-direction: row;
    width: 90rem;
  }

  img {
    object-fit: cover;

    height: 12rem;
    width: 100%;
    overflow: hidden;
    @media (min-width: 768px) {
      width: 80%;
      height: 18rem;
      object-position: 70% 30%;
    }
  }

  h2 {
    margin: 0.5rem 0;
    color: #f6d614;
    text-align: center;

    @media (min-width: 768px) {
      margin: 1rem 0;
    }
  }
}
.event-item-date,
.event-item-address {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.event-item-date svg,
.event-item-address svg {
  width: 1.25rem;
  height: 1.25rem;
  color: #f6d614;
}

.event-item-content {
  width: 100%;
  padding: 0 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  @media (min-width: 768px) {
    width: 40%;
    padding: 0;
    text-align: left;
  }

  time {
    margin: 0.5rem 0;
    color: #aefff8;
    font-weight: bold;
  }

  address {
    margin: 0.5rem 0;
    color: #aefff8;
    white-space: pre;
  }
}
.event-item-actions {
  display: flex;
  flex-direction: column;
  padding: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-end;
  }

  a {
    display: block;
    span {
      vertical-align: middle;
    }
  }
}
.event-item-icon {
  margin-left: 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.btn-main {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: #5f1150;
  border: 1px solid #5f1150;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

  &:hover,
  &:active {
    background-color: #cc23aa;
    border-color: #270c32;
    color: white;
  }
}

.btn-aux {
  text-decoration: none;
  cursor: pointer;
  font: inherit;
  background-color: #03be9f;
  border: 1px solid #03be9f;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 1.5rem;
  text-align: center;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);

  &:hover,
  &:active {
    background-color: #cc23aa;
    border-color: #270c32;
    color: white;
  }
}

.event-details-content {
  padding: 1rem 3rem;
  background-color: #10162f;
  font-size: 1.5rem;
  color: #fefefe;
  width: 100%;
  max-width: 40em;
  margin: auto;
  margin-top: 4rem;
  text-align: justify;
}

.event-details-logistics {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #1a003d;
  padding: 2rem;
  max-width: 60rem;
  width: 80%;
  margin: -5rem auto;
  color: #d5eeeb;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    padding: 2rem;
    margin: -7rem auto;
    gap: 3rem;
    flex-direction: row;
    align-items: stretch;
  }

  address {
    white-space: pre;
  }
}

.event-details-logistics-image {
  width: 10rem;
  height: 10rem;
  overflow: hidden;

  @media (min-width: 768px) {
    width: 27rem;
    height: 27rem;
  }

  img {
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    @media (min-width: 768px) {
      width: 27rem;
      height: 27rem;
    }
  }
}

.event-details-logistics-list {
  margin-bottom: 1rem;
  flex: 3;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (min-width: 768px) {
    align-items: flex-start;
  }

  a {
    color: #d117b9;
  }
}

.event-details-title {
  width: 100%;
  height: 30vh;
  background: rgba(32, 195, 245, 0.86);

  h1 {
    margin: 0;
    padding-top: 3rem;
    font-size: 2rem;
    text-align: center;
    text-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    color: white;

    @media (min-width: 768px) {
      font-size: 5rem;
    }
  }
}

.logistics-item {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  flex-direction: row;
  text-align: center;
  color: #aefff8;

  @media (min-width: 768px) {
    align-items: flex-start;
    text-align: left;
  }

  span {
    display: block;
  }
  .logistics-item-icon {
    margin-right: 1rem;
    color: #f6d614;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}

.event-search-form {
  margin: 2rem auto;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  background-color: #1a003d;
  border-radius: 6px;
  width: 90%;
  max-width: 40rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
  }

  button {
    width: 100%;
    font: inherit;
    padding: 0.25rem 0.5rem;
    background-color: #03be9f;
    border: 1px solid #03be9f;
    color: #dafff7;
    border-radius: 4px;

    @media (min-width: 768px) {
      width: 20%;
    }
  }
}

.event-search-controls {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;

  @media (min-width: 768px) {
    width: 80%;
    flex-direction: row;
  }
}

.event-search-control {
  flex: 1;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
  label {
    font-weight: bold;
  }
  select {
    font: inherit;
    background-color: white;
    border-radius: 6px;
    width: 70%;
    padding: 0.25rem;

    @media (min-width: 768px) {
      width: 100%;
    }
  }
}

.loading {
  margin: auto;
  text-align: center;
}

.filter-fail {
  margin: auto;
  text-align: center;
}

.alert {
  margin: 1rem auto;
  padding: 2rem 2rem;
  width: 90%;
  max-width: 40rem;
  background-color: #1a003d;
  color: #aefff8;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 6px;
}

.whatisquiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.whatisquiz-section {
  margin-top: 0.5rem;
  width: 80%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2rem;
    text-align: center;
  }

  p {
    text-align: justify;
    font-size: 1.5rem;
    margin: 0.8rem;
  }
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.contacts-section {
  margin-top: 0.5rem;
  width: 80%;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 3rem;
    text-align: center;
  }
}

.contacts-item {
  margin: 1rem auto;
  font-size: 3rem;
}

.contacts-icon {
  margin-right: 1rem;
  color: #6714f6;
  svg {
    width: 2.5rem;
    height: 2.5rem;
  }
}
